{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Universal Adventures</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href={% static './img/Uni.png' %} sizes="16x16" type="image/png">
 <!-- Google Tag Manager -->
<script src="https://cdn.tiny.cloud/1/2n06ucf71roagptkroonkrn3btoomt1rrw0na61zi98zhb6w/tinymce/5/tinymce.min.js" 
referrerpolicy="origin"></script>
<script>
tinymce.init({selector:'#textarea-main'})
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KH59H8J');

</script>


<!-- End Google Tag Manager -->
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="icon" href={% static './img/uni.png' %} sizes="16x16" type="image/png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'css/owl.carousel.min.css' %}>
    <link rel="stylesheet" href={% static 'css/magnific-popup.css' %}>
    <link rel="stylesheet" href={% static 'css/font-awesome.min.css' %}>
    <link rel="stylesheet" href={% static 'css/themify-icons.css' %}>
    <link rel="stylesheet" href={% static 'css/nice-select.css' %}>
    <link rel="stylesheet" href={% static 'css/flaticon.css' %}>
    <link rel="stylesheet" href={% static 'css/gijgo.css' %}"">
    <link rel="stylesheet" href={% static ' css/animate.css' %}>
    <link rel="stylesheet" href={% static 'css/slick.css' %}>
    <link rel="stylesheet" href={% static 'css/slicknav.css' %}>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <link rel="stylesheet" href={% static 'css/tagsinput.css' %}>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <style>
        li 
        {
            list-style:inherit !important;
        }
        .note-editable
        {
            padding: 30px !important;
        }
        ul {

            padding-left: 30px !important;
        }

    </style>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KH59H8J"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <nav class="navbar  navbar-expand-lg  fixed-top navbar-light" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/"><img
                    src={% static 'img//Universal Adventures Logo.png' %} width="70px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#adv">Welcome Admin!</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="min-height: 100vh;margin-top: 5rem;">
    {% if request.user.is_active %}
        <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h1>Create Affiliate Account</h1>
                    </div>
                </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-data my-4 px-2 py-2" style="box-shadow: 1px 1px 5px rgba(0,0,0,0.3);">
                <div class="form-row">
                    <div class="form-group row col-12">
                        <div class="col-3">
                            <label>Name*</label>
                        </div>
                        <div class="col-6">
                            <input type="text" name="name" value="{{request.user.first_name}} {{request.user.last_name}}" class="form-control" placeholder="Name" required />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group row col-12">
                        <div class="col-3">
                            <label>Email*</label>
                        </div>
                        <div class="col-6">
                            <input type="email" name="email" class="form-control" value="{{request.user.email}}" style="pointer-events: none;background-color: rgb(185, 183, 183);" placeholder="Email" required />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group row col-12">
                        <div class="col-3">
                            <label>Mobile Number*</label>
                        </div>
                        <div class="col-6">
                            <input type="number" name="phone" placeholder="Mobile Number" class="form-control" required />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-data my-4 px-2 py-2" style="box-shadow: 1px 1px 5px rgba(0,0,0,0.3);">
                <h2>Payment Details</h2>
                <p class="mb-3">For Withdraw purpose</p>
                <div class="form-row">
                    <div class="form-group row col-12">
                        <div class="col-3">
                            <label>Bank Number*</label>
                        </div>
                        <div class="col-6">
                            <input type="text" name="bank_name" class="form-control" placeholder="Bank Name" required/>
                        </div>
                    </div>
                </div>
                <div class="form-row ">
                    <div class="form-group row col-12">
                        <div class="col-3">
                            <label>Account Number*</label>
                        </div>
                        <div class="col-6">
                            <input type="text" name="account_number" class="form-control" placeholder="Account Number" required/>
                        </div>
                    </div>
                </div>
                <div class="form-row ">
                    <div class="form-group row col-12">
                        <div class="col-3">
                            <label>IFAC code*</label>
                        </div>
                        <div class="col-6">
                            <input type="text" name="ifsc_code" class="form-control" placeholder="IFAC CODE" required/>
                        </div>
                    </div>
                </div>
                <div class="form-row ">
                    <div class="form-group row col-12">
                        <div class="col-3">
                            <label>UPI ID*</label>
                        </div>
                        <div class="col-6">
                            <input type="text" name="upi_id" class="form-control" placeholder="UPI ID" required/>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="form-data my-4 px-2 py-2" style="box-shadow: 1px 1px 5px rgba(0,0,0,0.3);">
                <h3 class="mt-3">Your Identification Proof</h3>
                <div class="form-group row col-12">
                    <div class="col-3">
                        <label>Photo ID (Addhar Card)*</label>
                    </div>
                    <div class="col-6">
                        <input type="file" name="photo_copy" class="form-control" required/>
                    </div>
                </div>
            </div>

            <div class="form-btn" style="width: 100%;display: flex;justify-content: center;align-items: center;">
                <button type="submit" class="btn-danger px-4 py-2" style="border-radius: 5px;">Create Affiliate</button>
            </div>

     
        </form>
    </div>
    {% else %}
    <h1>Please login first and then apply for the affiliate user</h1>
    {% endif %}
</div>

<footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                     <img src={% static 'img/footer.png' %} height="120px" width="300px" alt="">
                                </a>
                            </div>
                            <a href="#">+91 8882654593</a> <br>
                            <a href="mailto:contact@universaladventures.in">contact@universaladventures.in</a>
                            </p>
                            <div class="socail_links">
                                <ul style="list-style: none;">
                                    <li>
                                        <a href="https://www.facebook.com/universaladventuresindia/">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.instagram.com/universaladventuresindia/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://g.co/kgs/FEs31r">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Company
                            </h3>

                            <ul class="links" style="list-style: none;">
                                <li><a href="/about/">About</a></li>
                                <li><a href="/contact/"> Contact</a></li>
                                <li><a href="/privacy-policy/">Privacy-Policy</a></li>
                                <li><a href="/partial-payment/">Partial Payment</a></li>
                                <li><a href="/refund-policy">Payments & Refund Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Popular destination
                            </h3>
                            <ul class="links double_links" style="list-style: none;">
                                <li><a href="/destination/Goa/">Goa</a></li>
                                <li><a href="/destination/Karnataka/">Karnataka</a></li>
                                <li><a href="/destination/Uttar-Pradesh/">Uttar Pradesh</a></li>
                                <li><a href="/destination/Uttarakhand/">Uttarakhand</a></li>
                                <li><a href="/destination/Rajasthan/">Rajasthan</a></li>
                                <li><a href="/destination/Maharashtra/">Maharashtra</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Instagram
                            </h3>
                            <div class="instagram_feed">
                                <div class="single_insta">
                                    <a href="#">
                                        <img src={% static 'img/instagram/1.png' %} alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src={% static 'img/instagram/2.png' %} alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src={% static 'img/instagram/3.png' %} alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src={% static 'img/instagram/4.png' %} alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src={% static 'img/instagram/5.png' %} alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src={% static 'img/instagram/6.png' %} alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</footer>
    <!-- JS here -->
    <script src={% static 'js/vendor/modernizr-3.5.0.min.js' %}></script>
    <script src={% static 'js/vendor/jquery-1.12.4.min.js' %}></script>
    <script src={% static 'js/popper.min.js' %}></script>
    <script src={% static 'js/bootstrap.min.js' %}></script>
    <script src={% static 'js/owl.carousel.min.js' %}></script>
    <script src={% static 'js/isotope.pkgd.min.js' %}></script>
    <script src={% static 'js/ajax-form.js' %}></script>
    <script src={% static 'js/waypoints.min.js' %}></script>
    <script src={% static 'js/jquery.counterup.min.js' %}></script>
    <script src={% static 'js/imagesloaded.pkgd.min.js' %}></script>
    <script src={% static 'js/scrollIt.js' %}></script>
    <script src={% static 'js/jquery.scrollUp.min.js' %}></script>
    <script src={% static 'js/wow.min.js' %}""></script>
    <script src={% static 'js\nice-select.min.js' %}></script>
    <script src={% static 'js/jquery.slicknav.min.js' %}></script>
    <script src={% static 'js/jquery.magnific-popup.min.js' %}""></script>
    <script src={% static 'js/plugins.js' %}></script>
    <script src={% static 'js/gijgo.min.js' %}></script>
    <script src={% static 'js/slick.min.js' %}></script>
    <script src={% static 'js/tagsinput.js' %}></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
     integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!--contact js-->

    <script src={% static 'js/contact.js' %}></script>
    <script src={% static 'js/jquery.ajaxchimp.min.js' %}></script>
    <script src={% static 'js/jquery.form.js' %}></script>
    <script src={% static 'js/jquery.validate.min.js' %}></script>
    <script src={% static 'js/mail-script.js' %}></script>


    <script src={% static 'js/main.js' %}></script>

        <script>
        {% if messages %}
            {% for message in messages %}
                swal({
                    title: "{{message}}",
                    icon: "success",
                    });
            {% endfor %}
        {% endif %}
    </script>

    </body>
    <script>
        $(function () {
            $(window).scroll(function () {
                var mainbottom = $("header").offset().top + $("header").height();
                if ($(this).scrollTop() < mainbottom){

                    $('nav').removeClass('first');

                } else {

                    $('nav').addClass('first');

                }
            })
        })
    </script>
</body>

</html>
{% endblock %}