{% load static %}
{% block content %}
{% load socialaccount %}
{% load crispy_forms_tags %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Universal Adventures</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KH59H8J');</script>

<!-- End Google Tag Manager -->
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="icon" href={% static './img/uni.png' %} sizes="16x16" type="image/png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'css/owl.carousel.min.css' %}>
    <link rel="stylesheet" href={% static 'css/magnific-popup.css' %}>
    <link rel="stylesheet" href={% static 'css/font-awesome.min.css' %}>
    <link rel="stylesheet" href={% static 'css/themify-icons.css' %}>
    <link rel="stylesheet" href={% static 'css/nice-select.css' %}>
    <link rel="stylesheet" href={% static 'css/flaticon.css' %}>
    <link rel="stylesheet" href={% static 'css/gijgo.css' %}"">
    <link rel="stylesheet" href={% static ' css/animate.css' %}>
    <link rel="stylesheet" href={% static 'css/slick.css' %}>
    <link rel="stylesheet" href={% static 'css/slicknav.css' %}>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.css"
        integrity="sha512-YdYyWQf8AS4WSB0WWdc3FbQ3Ypdm0QCWD2k4hgfqbQbRCJBEgX0iAegkl2S1Evma5ImaVXLBeUkIlP6hQ1eYKQ=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <link rel="stylesheet" href={% static 'css/rough.css' %}>

    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <style>
    .affiliate-user-dashboard
    {
        min-height:100vh;
        /* background:green; */
    }
    .affiliate-user-notactive
    {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: #000;
        
    }
    .affiliate-user-notactive h3
    {
        padding: 20px 3rem;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.5);

    }
    .not-affiliate-user
    {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: #000;

    }
    .not-affiliate-user
    {
         padding: 20px 3rem;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.5);

    }
    .affiliate-user-active
    {
        min-height:100vh;
        padding:20px 0;

    }
    .affiliate-user-details 
    {
        margin:2rem 0 !important;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
        padding: 10px;
    }
    </style>

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KH59H8J"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <nav class="navbar  navbar-expand-lg  navbar-light" style="box-shadow: 1px 1px 10px rgba(0,0,0,0.5);" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/"><img
                    src={% static 'img//Universal Adventures Logo.png' %} width="200px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/blog">Our Blog</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/accounts/logout">logout</a></li>
                    {% else %}<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#" id="modal"
                            data-toggle="modal" data-target="#log">Login</a></li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="modal fade" id="log" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <a href="{% provider_login_url "facebook" method="js_sdk" %}"
                        class="btn btn-block btn-social btn-facebook"
                        style="background-color:#3b5998;text-align:center;color:white">
                        <span class="fa fa-facebook"></span>
                        Sign in with Facebook
                    </a>
                    <a href="{% provider_login_url "google"  %}" process="connect"
                        class="btn btn-block btn-social btn-google"
                        style="background-color:red;text-align:center;color:white">
                        <span class="fa fa-google-plus"></span>
                        Sign in with Google
                    </a>


                </div>
            </div>
        </div>
    </div>
        <!--Withdraw Amount Modal-->
        <div class="modal fade " id="withdraw-form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Withdraw Amount Form</h5>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    </div>
                    <div class="modal-body">
                        <form action="/affiliate-withdraw/" method="POST">
                            <p>Available Balance : Rs. {{affiliate_earn.total_earn}} </p>
                            <div class="form-group">
                                <!-- <label for="exampleInputEmail2">Name</label> -->
                                <input type="text" name="aid" class="form-control" value="{{affiliateUser.aid}}" id="exampleInputEmail2"
                                    placeholder="your aid" style="pointer-events: none;" required>
                            </div>
                            <div class="form-group">
                                <!-- <label for="exampleInputEmail2">Name</label> -->
                                <input type="text" name="name" class="form-control" value="{{affiliateUser.name}}" id="exampleInputEmail2"
                                    placeholder="Enter your name" required>
                            </div>
                            <div class="form-group">
                                <!-- <label for="exampleInputEmail1">Email address</label> -->
                                <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"
                                 value="{{affiliateUser.email}}"   required>
                            </div>
                            <div class="form-group">
                                <!-- <label for="exampleInputPhone1">Phone Number</label> -->
                                <input type="password" name="phone" class="form-control" id="exampleInputPhone1"
                                    placeholder="+91-XXXXXXXXXX" value="{{affiliateUser.phone}}" required>
                            </div>
                            <div class="form-group">
                                <!-- <label for="withdrawAmount">Amount</label> -->
                                <input type="Number" class="form-control" name="amount" id="withdrawAmount"
                                    placeholder="Enter Amount" required>
                            </div>                       
                            <button type="submit" class="btn btn-success">Withdraw</button>
                        </form>
                    </div> 
                </div>
            </div>
        </div>

    <section class="affiliate-user-dashboard">
        {% if request.user.is_active %}
            {% if affiliateUser %}
                {% if affiliateUser.status == 'active' %}
                <div class="container affiliate-user-active">
                    <h1 class="my-4">Affiliate User</h1>
                    <div class="container affiliate-user-details row col-12 my-4">
                        <div class="col-12">
                            <h3>Hello {{affiliateUser.name}},</h3>
                        </div>
                        <div class="row col-12 my-3 px-4" style="width:100%;display: flex;justify-content: space-between;">
                            <p class="btn btn-warning">affiliate Id : {{affiliateUser.aid}}</p>
                            <p class="btn btn-warning">Total Amount: Rs {{affiliate_earn.total_earn}} </p>
                             <p>
                                 <a  href="#" class="btn btn-success" id="withdraw" data-toggle="modal" 
                                 data-target="#withdraw-form">Withdraw Amount</a>
                            </p>
                        </div>
                    </div>
                    <div class="container create-link">
                        <div class="container my-4 py-3" style="box-shadow: 1px 1px 5px rgba(0,0,0,0.3);">
                            <h4 class="text-center py-3">Create Link</h4>
                            <div class="form-row row col-md-12 col-12">
                                    <div class="col-9">
                                        <input type="text" name="link" id="affiliate-link" class="form-control" placeholder="Enter The Product Link" />
                                    </div>
                                    <div class="col-3">
                                        <button class="btn btn-danger form-control create-link-btn">Create Link</button>
                                    </div>
                            </div>
                        </div>

                        <div class="container my-4 py-3" style="box-shadow: 1px 1px 5px rgba(0,0,0,0.3);">
                            <h3 class="text-center mt-2 pt-3">Created Link</h3>
                            <div class="container row col-md-12 col-12 created-link-section py-3">
                                    <div class="col-9">
                                        <h3 class="Created-Linked-box form-control" >{{affiliateLinks.last.link}}</h3>
                                    </div>
                                    <div class="col-3">
                                        <button class="btn btn-success copy_btn form-control">Copy</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="container all-link-table mt-3 py-3">
                        <h4>All links Created</h4>
                            <table class="table table-striped">
                
                                    <thead class="thead-row">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Link</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Hits</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody class="all_link_table">
                                        {% for link in affiliateLinks %}
                                         <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{link.link}}</td>
                                            <td>{{link.date}}</td>
                                            <td>-</td>
                                        </tr> 
                                        {% endfor %}

                                    </tbody>
                            </table>
                    </div>
                    <div class="container all-link-table">
                            <h4 class="mt-3">All Product Purches through link</h4>
                            <table class="table table-striped">
                                    <thead class="thead-row">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Product</th>
                                            <th scope="col">OrderAmount</th>
                                            <th scope="col">Margin</th>
                                            <th scope="col">date</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for purchase in affiliate_purchases %}
                                         <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{purchase.product}}</td>
                                            <td>{{purchase.margin}}</td>
                                            <td>{{purchase.orderAmount}}</td>
                                            <td>{{purchase.date}}</td>
                                        </tr> 
                                        {% endfor %}

                                    </tbody>
                            </table>
                    </div>
                </div>
                {% else %}
                <div class="container affiliate-user-notactive">
                    <h3 class="text-center">Affiliate user is not active wait untill activation</h3>
                </div>
                {% endif %}
                {% else %}
                <div class="container not-affiliate-user row mt-5">
                    <h3 class="text-center col-12">You are not affiliate user please register yourself to connect with us.</h3>
                    <a href="{% url 'affiliate-add' %}" class="btn btn-success col-12">Affiliate Registration</a>
                </div>
            {% endif %}
        {% else %}
         <h1>Good Bay</h1>
        
        {% endif %}
        

    </section>
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src={% static 'img/footer.png' %}  width="200px" alt="">
                                </a>
                            </div>
                            <a href="#">+91 8882654593</a> <br>
                            <a href="mailto:contact@universaladventures.in">contact@universaladventures.in</a>
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/universaladventuresindia/">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.instagram.com/universaladventuresindia/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://g.co/kgs/FEs31r">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Company
                            </h3>
                             <ul class="links">
                                <ul class="links">
                                <li><a href="/about/">About</a></li>
                                <li><a href="/contact/"> Contact</a></li>
                                <li><a href="/privacy-policy/">Privacy-Policy</a></li>
                                <li><a href="/partial-payment/">Partial Payment</a></li>
                                <li><a href="/refund-policy">Payments & Refund Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Popular destination
                            </h3>
                            <ul class="links double_links">
                               <li><a href="/destination/Goa/">Goa</a></li>
                                <li><a href="/destination/Karnataka/">Karnataka</a></li>
                                <li><a href="/destination/Uttar-Pradesh/">Uttar Pradesh</a></li>
                                <li><a href="/destination/Uttarakhand/">Uttarakhand</a></li>
                                <li><a href="/destination/Rajasthan/">Rajasthan</a></li>
                                <li><a href="/destination/Maharashtra/">Maharashtra</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Instagram
                            </h3>
                            <div class="instagram_feed">
                                <div class="single_insta">
                                    <a href="#">
                                        <img src={% static 'img/instagram/1.png' %} alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src={% static 'img/instagram/2.png' %} alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src={% static 'img/instagram/3.png' %} alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src={% static 'img/instagram/4.png' %} alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src={% static 'img/instagram/5.png' %} alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src={% static 'img/instagram/6.png' %} alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- JS here -->
    <script src={% static 'js/vendor/modernizr-3.5.0.min.js' %}></script>
    <script src={% static 'js/vendor/jquery-1.12.4.min.js' %}></script>
    <script src={% static 'js/popper.min.js' %}></script>
    <script src={% static 'js/bootstrap.min.js' %}></script>
    <script src={% static 'js/owl.carousel.min.js' %}></script>
    <script src={% static 'js/isotope.pkgd.min.js' %}></script>
    <script src={% static 'js/ajax-form.js' %}></script>
    <script src={% static 'js/waypoints.min.js' %}></script>
    <script src={% static 'js/jquery.counterup.min.js' %}></script>
    <script src={% static 'js/imagesloaded.pkgd.min.js' %}></script>
    <script src={% static 'js/scrollIt.js' %}></script>
    <script src={% static 'js/jquery.scrollUp.min.js' %}></script>
    <script src={% static 'js/wow.min.js' %}""></script>
    <script src={% static 'js/nice-select.min.js' %}></script>
    <script src={% static 'js/jquery.slicknav.min.js' %}></script>
    <script src={% static 'js/jquery.magnific-popup.min.js' %}""></script>
    <script src={% static 'js/plugins.js' %}></script>
    <script src={% static 'js/gijgo.min.js' %}></script>
    <script src={% static 'js/slick.min.js' %}></script>



    <!--contact js-->

    <script src={% static 'js/contact.js' %}></script>
    <script src={% static 'js/jquery.ajaxchimp.min.js' %}></script>
    <script src={% static 'js/jquery.form.js' %}></script>
    <script src={% static 'js/jquery.validate.min.js' %}></script>
    <script src={% static 'js/mail-script.js' %}></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.js"
        integrity="sha512-RCgrAvvoLpP7KVgTkTctrUdv7C6t7Un3p1iaoPr1++3pybCyCsCZZN7QEHMZTcJTmcJ7jzexTO+eFpHk4OCFAg=="
        crossorigin="anonymous"></script>

    <script src={% static 'js/main.js' %}></script>
    <script>
        $('.create-link-btn').click(() =>{
            $('.copy_btn').text('Copy');
            const link = $('#affiliate-link').val() ;
            $.ajax({
                url:'/affiliate-link/',
                method:'POST',
                data:{
                    link:link
                },
                success:(response) =>{
                    console.log(response);
                    $('.Created-Linked-box').html(response.data);
                    let table_data = '';
                    response.all_links.forEach((link,index) =>{
                        table_data += `<tr> <td>${index+1}</td>
                                        <td>${link.link}</td>
                                        <td>${link.date}</td>
                                        <td>-</td></tr>`
                    })
                    $('.all_link_table').html(table_data);
                }
            })
        })

        $('.copy_btn').click(() =>{
           const link =  $('.Created-Linked-box').text();
            console.log(link);
            navigator.clipboard.writeText(link);
            $('.copy_btn').text('Copied');


        })
    </script>

    <script>
        $(function () {
            $(window).scroll(function () {
                var mainbottom = $("header").offset().top + $("header").height();
                if ($(this).scrollTop() < mainbottom) {

                    $('nav').removeClass('first');

                } else {

                    $('nav').addClass('first');

                }
            })
        })
        var addSerialNumber = function () {
            $('table tr').each(function (index) {
                $(this).find('td:nth-child(1)').html(index -1 + 1);
            });
        };

        addSerialNumber();
    </script>
    <!-- Table Js-->
    <script>
    //   document
    //     .querySelector(".table-scroll")
    //     .addEventListener("scroll", function (e) {
    //       this.querySelector(".thead-row").style.top = this.scrollTop + "px";
    //     });

        var myModal = document.getElementById('withdraw-form')
        var myInput = document.getElementById('withdraw')

        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
        });
    </script>
</body>

</html>
{% endblock %}