{% if agents %}
 <table class="table table-hover" >
                    <thead class="table-dark text-center">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Payment</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Photo Id</th>
                                    <th scope="col">Action</th>
                                </tr>
                    </thead>
                    <tbody class="text-center">
                                {% for agent in agents reversed %}
                                <tr>
                                    <th scope="col">{{forloop.counter}}</th>
                                    <th scope="col">{{agent.name}}</th>
                                    <th scope="col">{{agent.phone}}</th>
                                    <th scope="col">{{agent.email}}</th>
                                    <th scope="col">{{agent.bank_name}} 
                                        </br> Ac. No. :{{agent.account_number}}</br>
                                        Ifsc No. : {{agent.ifsc_code}} </br> 
                                        Uid : {{agent.upi_id}} </th>
                                    <th scope="col">{{agent.status}}</th>
                                    <th scope="col">
                                    <button class="btn btn-danger photo__id__file" 
                                    style="margin-top:10px;" data-id="{{agent.photo_id.url}}">Photo Id</button>
                                    </th>
                                    {% if status == 'inactive' %}
                                    <th scope="col">
                                       <a class="btn btn-primary my-2"  
                                       href="/agent-status/active/{{agent.agent_id}}">Active</a> 
                                    </th>
                                    {% else %}
                                    <th scope="col">
                                       <a class="btn btn-primary my-2"  
                                       href="/agent-status/inactive/{{agent.agent_id}}">Inactive</a> 
                                    </th>
                                    {% endif %}
                                  </tr>
                                {% endfor %}
        </tbody>
</table>
{% else %}
<h1 class="text-center">No data Found</h1>
{% endif %} 