{% load static %}
{% block content %}
{% load socialaccount %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Universal Adventures</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
 <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KH59H8J');</script>

<!-- End Google Tag Manager -->
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/checkout/">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'css/font-awesome.min.css' %}>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


    <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href={% static './img/uni.png' %} sizes="16x16" type="image/png">
    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
        
      </style>
</head>

<body style="background-color: #f2f2f2;">



<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KH59H8J"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/"><img
        src={% static 'img//Universal Adventures Logo.png' %} width="200px">
</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav text-uppercase ml-auto">
          <h2>{{postData.product}}</h2>
       
   </ul>
    </div>
</div>
  </nav>
<div class="container mt-5">

 <div class="row mt-5 text-center">
      <div class="col mt-5">
        <h3>{{product.name}}</h3>
      </div>
 </div>


{% comment %} starts {% endcomment %}

<div class="container">
  <div class="row">
    <div class="col"> <!--LHS-->
      <div class="row border border-dark m-3">
        <h4>Guest Details</h4>
        <form action="/agent-products-booking/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="agent_id" id="agent_id" value="{{agent.agent_id}}">
            <input type="hidden" name="product_id" value="{{product.id}}">
            <input type="hidden" name="price-per-product" id="price-per-product" value="{{product.sale}}">
            <input type="hidden" name="total-price" id="total-price" value="{{product.sale}}">
            <div class="row">
                <div class=" col-lg-2 col-md-2 col-sm-2 col-2  text-center"> Name* </div><div class=" col-lg-10 col-md-10 col-sm-10 col-10  text-center">  <input type="text" class="form-control" placeholder="Enter Guest Name" name="guest_name" required></div>
            </div><br>
            <div class="row">
                <div class=" col-lg-2 col-md-2 col-sm-2 col-2  text-center"> Phone Number* </div><div class=" col-lg-10 col-md-10 col-sm-10 col-10  text-center">  <input type="number" class="form-control" placeholder="Enter Guest Phone" name="guest_phone" required></div>
            </div><br>
            <div class="row">
                <div class=" col-lg-2 col-md-2 col-sm-2 col-2  text-center"> Other Number (Optional) </div><div class=" col-lg-10 col-md-10 col-sm-10 col-10  text-center">  <input type="number" class="form-control" placeholder="Enter other number" name="guest_other_phone"></div>
            </div><br>
            <div class="row">
                <div class=" col-lg-2 col-md-2 col-sm-2 col-2  text-center"> Email <span id="optional">(Optional)</span> </div><div class=" col-lg-10 col-md-10 col-sm-10 col-10  text-center">  <input type="email" class="form-control" id="guest_email" placeholder="Enter Guest Email" name="guest_email"></div>
            </div><br>
      </div>
      <div class="row border border-dark m-3">
        <h4>Booking Details</h4>
            <div class="row">
                <div class=" col-lg-2 col-md-2 col-sm-2 col-2 text-center"> Number of Guests* </div><div class=" col-lg-10 col-md-10 col-sm-10 col-10  text-center">  <input type="number" class="form-control" name="number_of_guests" id="number_of_guests" value="1" required></div>
            </div><br>
            <div class="row">
                <div class=" col-lg-2 col-md-2 col-sm-2 col-2 text-center"> Service Date* </div><div class=" col-lg-10 col-md-10 col-sm-10 col-10  text-center">  <input type="date" class="form-control" name="service_date" required></div>
            </div><br>
      </div>
    </div>
    
    <div class="col"> <!--RHS-->
      <div class="row border border-dark m-3">
        <h4>Price Breakdown</h4>        
        <script>
          window.onload = ()=>{
            document.getElementById("earning").innerHTML = (Number({{product.sale}})*Number({{product.margin_agent}}))/100;
          }
          document.getElementById("number_of_guests").addEventListener("input", (evt) => {
            let number_of_guests = evt.target.value;
            let price_per_product = document.getElementById("price-per-product").value;
            document.getElementById("nos-of-guests").innerHTML = number_of_guests;
            document.getElementById("total-price").value = Number(number_of_guests)*Number(price_per_product);
            document.getElementById("totalPrice").innerHTML = Number(number_of_guests)*Number(price_per_product);
            document.getElementById("earning").innerHTML = (Number(number_of_guests)*Number(price_per_product) * Number({{product.margin_agent}}))/100;
          })
        </script>
        <div class="row m-3"><h5>Rs. {{product.sale}} &times; <span id="nos-of-guests">1</span> Adult = Rs.<span id="totalPrice">{{product.sale}}</span></h5></div>
        <div class="row mx-3">Earnings on this Booking <span id="earning"></span> </div>        
      </div>
      <div class="row border border-dark m-3">
        <label for=""><input type="radio" name="receipt_send_type" value="Send receipt to guest directly from Universal Adventures" id="sr">Send receipt to guest directly from Universal Adventures</label>
        <label for=""><input type="radio" name="receipt_send_type" value="Download receipt and share with guest manually" id="dr">Download receipt and share with guest manually</label>
      </div>
    <script>
        document.getElementById('sr').addEventListener('click', () => {
            document.getElementById('optional').innerHTML = '*';
            document.getElementById('guest_email').required = true;
        }) 
        document.getElementById('dr').addEventListener('click', () => {
            document.getElementById('optional').innerHTML = '(Optional)';
            document.getElementById('guest_email').required = false;
        }) 
        
    </script>

      <div class="dropdown row border border-dark m-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Billing Information
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <label class="row border border-dark m-3" for=""><input type="checkbox" name="terms_and_conditions" id="checks" value="False" required>I accept all terms & conditions.</label>
      <button type="submit" class="row btn btn-success m-3">Proceed & Checkout</button>
      </form>
      <script>
        let a = document.getElementById("checks");
        a.addEventListener("change", () => {
          if(a.checked === true){
            document.getElementById("checks").value = "True"
          }else{
            document.getElementById("checks").value = "False"
          }
        })
      </script>
    </div>  
  </div>
</div>

       
</body>
    <script src={% static 'js/vendor/jquery-1.12.4.min.js' %}></script>
    <script src={% static 'js/popper.min.js' %}></script>
    <script src={% static 'js/bootstrap.min.js' %}></script>

    <script src={% static 'js/main.js' %}></script>

</html>
{% endblock %}