{% load static %}
{% block content %}
{% load socialaccount %}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Universal Adventures</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KH59H8J');</script>

<!-- End Google Tag Manager -->
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="icon" href={% static './img/Uni.png' %} sizes="16x16" type="image/png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
    <link rel="stylesheet" href= {% static 'css/owl.carousel.min.css' %}>
    <link rel="stylesheet" href={% static 'css/magnific-popup.css' %}>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href={% static 'css/font-awesome.min.css' %}>
    <link rel="stylesheet" href={% static 'css/themify-icons.css' %}>
    <link rel="stylesheet" href={% static 'css/nice-select.css' %}>
    <link rel="stylesheet" href={% static 'css/flaticon.css' %}>
    <link rel="stylesheet" href= {% static 'css/gijgo.css' %}"">
    <link rel="stylesheet" href={% static ' css/animate.css' %}>
    <link rel="stylesheet" href={% static 'css/slick.css' %}>
    <link rel="stylesheet" href={% static 'css/slicknav.css' %}>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    

    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
<style>
html,body {
            overflow-x: hidden;
            scroll-behavior: smooth !important;
            transition: all 0.25s ease;
        }
        .datepicker td, .datepicker th {
            width: 2.5rem;
            height: 2.5rem;
            font-size: 0.85rem;
        }

        .datepicker {
            margin-bottom: 3rem;
        }
     
  
    .carousel-control-prev,
    .carousel-control-next {
        top: auto;
        bottom: auto;
        padding: 20px;
    }
   .ui-autocomplete {
    max-height: 200px;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    overflow-y: auto;
    
   
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 250px;
  }
    

.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
    border-radius: 50%;
    cursor: pointer;
	border-color: transparent;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
           .open-button {
  color: white;
  padding: 16px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 4px;
  right: 4px;
  background: transparent;
  text-decoration: none;
  z-index: 8;
}
#ui-id-1{
  z-index: 999;
}
/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.6);
  z-index: 9;
}

 
.navbar {
  padding: .3rem 1rem;
  box-shadow: 0px 1px 3px 1px #88888863;
}

.dropdown-item {
  width: auto;
}

.navbar-toggler-icon {
    display: none;
}
.navbar-light .navbar-toggler{
    border-color:rgba(0,0,0,0);
}
#fr2{
    display: none;
}
#exploreview2{
    display:none;
}
#mobilemodal{
    display:none;
}
#exampleModal{
    margin-top:7%;
}
.mobile-searchbox{
      display:none;
  }
.laptop-searchbox{
    display:block;
}


@media only screen and (max-width: 600px) {
  #navbarResponsive{
      display:none;
  }
  #exploreview2{
      display:block;
  }
  #mobilemodal{
      display:block;
  }
  #exampleModal{
    margin-top:30%;
    margin-right:0%;
}
  .mobile-searchbox{
      display:block;
  }
  .laptop-searchbox{
      display:none;
  }
}
.overlayme{
    display: none;
    position: fixed;
    width:100%;
    height:100%;
    margin-left: -1rem;
    background-color: rgba(0,0,0,0.6);
    cursor: pointer;
}

@media (max-width: 991px) {
  .tourhelpcard {
  max-height: 90px!important;
  padding-left: 10px;
}
  .adventure-category {
  max-height: 100px!important;

  }
}



/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (min-width: 992px) {
    .carousel-content {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  .carousel-content p {
    font-size: 1.15rem;
  }
  .carousel-content h3 {
    font-size: 2.5rem;
  }

}
@media (min-width: 1200px) {
    .carousel-content h3 {
    font-size: 3.0rem;
  }
}
.carousel-content {
  position: absolute;
  bottom: 8%;
  left: 5%;
  z-index: 50;
  color: white;
}
.custom-select{
padding:0 1.75rem .375rem .75rem;
}


<!--Icon Animation-->
.blank-ico {
  opacity: 1;
}

.explore22-ico {
  animation: explore-key 10s ease infinite;
}
.search-ico {
  animation: search-key 10s ease infinite;
}

@keyframes search-key {
  0% { opacity: 0; }
  5% { opacity: 0; }
  45% { opacity: 0; }
  50% { opacity: 0; }
  55% { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes explore-key {
  0% { opacity: 0; }
  5% { opacity: 1; }
  45% { opacity: 1; }
  50% { opacity: 0; }
  55% { opacity: 0; }
  95% { opacity: 0; }
  100% { opacity: 0; }
}


</style>


</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KH59H8J"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <!-- <div class="loader_bg">
        <div class="loader">
        </div>
    </div> -->
    <nav class="navbar  navbar-expand-lg  fixed-top navbar-light" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/"><img
                    src={% static 'img//Universal Adventures Logo.png' %} height="45px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
              <div class="navbar-collapse collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">

<!-- 
                       <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">Home</a></li>
                      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/blog">Our Blog</a></li>
                   -->
                  
                      <li class="nav-item"> <a class="nav-link js-scroll-trigger" id="exploreview" style ="font-weight: 600;color: #2e3342fc !important;padding-right: 50px;font-size: 19px !important;cursor: pointer;"><img src={% static 'img//Explore.svg' %} height="28px"> Explore</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                    
                         {% for wallet in amount %}
                        
                        <div class="dropdown">
  <button class="btn btn-secondary" style="background-color:transparent;color:black;border:none;padding: 0px;font-weight: 600;color: rgba(46, 51, 66, 0.988) !important;font-size: 19px !important;" type="button" id="dropdownMenuButton"
   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src={% static 'img//User.svg' %} height="28px">
    Hello {{user}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="options" style="display: none;text-transform: none;box-shadow: 0px 3px 8px 0px #252525a6;margin-top: 19px;">
    <a class="dropdown-item"  href="#"><img class="col-md-2 p-0" src={% static 'img//Nav Menu Icons//wallet.svg' %} height="25px" ><span class="col-md-10 pl-2">UA Cash: &#8377;{{wallet.amount}}</span></a>
    <a class="dropdown-item"  href="/profile/" id="profileview"><img class="col-md-2 p-0" src={% static 'img//Nav Menu Icons//user profile.svg' %} height="25px"><span class="col-md-10 pl-2">Profile</span></a>

    <hr> 
    <a class="dropdown-item"  href="/accounts/logout"><button type="button" class="btn btn-warning" style="display: block;margin-left: auto;margin-right: auto;margin-top: 6px;border-radius: 25px;width: 150px;">Logout</button></a>
     
  </div>

</div>
 {% endfor %}
                    </li>
                    
                    {% else %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" style ="font-weight: 600;color: #2e3342fc !important;" href="#" id="modal"
                            data-toggle="modal" data-target="#log">Login</a></li>

                    {% endif %}
                </ul>
            </div>
            <div>
              <i id="exploreview2" >
                
                <img class="explore22-ico" src={% static 'img//Explore.svg' %} style="height:32px;position: absolute;">
                <img class="search-ico" src={% static 'img//Search.svg' %} style="height:32px;position: absolute;">
                
              </i>

             <i id="mobilemodal" style="padding-left: 50px;" ><img src={% static 'img//User.svg' %} height="32px"></i>
            </div>

        </div>
    </nav>
    <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  
                  <h3 class="modal-title" id="lineModalLabel">Get A Call</h3>
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              </div>
              <div class="modal-body">
                  
                  <!-- content goes here -->
                  <form>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Enter your name" required>
                      </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPhone1">Phone Number</label>
                      <input type="password" class="form-control" id="exampleInputPhone1" placeholder="+91-XXXXXXXXXX" required>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control textarea" rows="3" name="Message" id="Message"
                                    placeholder="Ask Anything related to your dream  Adventure or Destination"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form>
      
              </div>
          </div>
        </div>
      </div>
  
        <!-- <header class="masthead" style="min-height: 100%;background-image:url({{state.image.url}});background-size:cover;background-position: center;">
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source src="./images/video.webm" type="video/mp4">
            </video>
            <div class="container s">
                <div class="slider_text text-center">
                    <h3>{{state.name}}</h3>
                </div>
            </div>
        </header> -->
   

    
    <!-- popular_destination_area_start  -->
    <div class="popular_places_area pb-0 mb-3" id="adv" style="padding-top: 0px;">
        

        <div class="row mb-0" style="box-shadow: 0px 1px 2px 0px #72748461;background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('/static/img/city and state/India.jpg'); background-position: bottom;background-size: cover;height: 370px;">
            <hr style="width: 90%;margin-top: 75px!important;position: absolute;border-top: 2px solid;color: #ffffff14;right: 0px;left: 0px;">
            <div class="container" style="display: flex;margin-top: 100px;">

                <div class="col-lg-12 col-md-12 mt-3" style="max-height: 240px;position: sticky;top: 30px;display: flex;flex-direction: column;justify-content: flex-end;"> 
                <div style="font-family: 'poppins-bold', sans-serif !important;border-left: 0px solid white;font-weight: 700;color: white;font-size: 4.5rem;text-shadow: 1px 1px 3px #000000e3;margin-bottom: -16px;"> India</div>
                <div style="font-family: 'poppins-bold', sans-serif !important;border-left: 0px solid white;font-weight: 700;color: white;font-size: 1.5rem;text-shadow: 1px 1px 3px #000000e3;font-style: italic;"> To Explore, To Experiecne</div>

                <!-- <div>
                    <div class="btn mt-2 px-4 mr-2" style="border: 2px solid white;border-radius: 100px;color: white;font-weight: 500;background-color: #00000087;font-size: 1.3rem;">Adeventures</div>
                    <div class="btn mt-2 px-4" style="border: 2px solid white;border-radius: 100px;color: white;font-weight: 500;background-color: #00000087;font-size: 1.3rem;">Tours</div>

                </div>
                <div style="position: absolute;bottom: 1px">
                    <div class="btn mt-2" style="border: 2px solid white;border-radius: 50px;color: black;background-color: #ffffff;font-size: 0.8rem;font-weight: 500;">Top Places to Visit In {Location}}</div> <br>
                    <div class="btn mt-2" style="border: 2px solid white;border-radius: 50px;color: black;background-color: #ffffff;font-size: 0.8rem;font-weight: 500;">Things To Do In {Location}}</div>
                    
                </div> -->

                </div>


            
            <!--
                            <div class="col-lg-6 col-md-6 mb-4 px-0 pt-0" style="opacity: 0.0;">
                 <div class="mt-0" style="background-color: rgb(255 255 255);box-shadow: 0px 1px 2px 0px #72748461;width: 100%;border-radius: 10px;display: flex;justify-content: center;align-items: flex-end;padding: 20px 10px;">



                <div class="shadoww" id="h" style="position:absolute;bottom: 0px;width:100%;height: 50%;border-radius: 0px 0px 10px 10px;"></div>
                <div style="height: 200px; overflow: hidden;" id="maindetails" >
                    <div id="highlights"  class="ml-3" style="text-align: justify;">
                        
A pocket-sized paradise located on the west coast of India, Goa is a kaleidoscopic blend of Portuguese-Indian heritage, delicious delicacies, and of course the serene beaches. With its Susegad philosophy of living, this sunshine state has gained a lot of fame all over the world. With such easy -going vibes, this little state makes you carefree and lets you take your time to enjoy the laid-back lifestyle. 

Boasting a 100-kilometer long coastline, Goa is home to a string of uninterrupted golden sand beaches that propel many tourists all year round. These beaches cater to every tropical whim- choose from the backpackers’ favourite Arambol or the bolder Baga beach; laidback Mandrem or the palm-fringed Palolem or maybe enjoy the blissful hippie market of Anjuna beach. There are also the private beaches groomed by the five-star properties to appreciate or the hidden coves for you to discover. 

Needless to say, Goa is recognized across the globe for its tempting seafood and bustling nightlife. With a rich collection of beach shacks, trendy bars, lively clubs, splendid casinos, and elegant cafes, the state boasts the most amazing nightlife one can experience in India. 

Known to be a Portuguese colony in the times bygone, Goa also flaunts the baroque architecture back from the colonial times. It is quite evident in the old-style bungalows, ancient forts, and the white-washed churches.

The colourful catholic ceremonies and the stunning cathedrals also give you an insight into the Goan culture. With all of these and a lot more to experience, Goa truly has all the ingredients for a perfect holiday recipe

                    </div>
                </div>
                <span id="dots" style="visibility: hidden;">...</span><span id="more"></span>
        
                <button onclick="myFunction()" id="myBtn" class="btn text-primary float-right " style="border: 0.5px solid #007bff;padding: 2px 10px;position: absolute;z-index: 10;box-shadow: none;bottom: 5px;">Read more</button>
            </div> -->
        </div>
            </div>
           
        </div>  
        
        
        <div class="container">
     
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12" style="border:0px solid rgba(53, 53, 53, 0.644);    margin-top: 30px;">
                <a class="text-center" href="/state/Himachal-Pradesh" style="cursor: pointer;background-image: linear-gradient(rgba(126, 55, 55, 0.1),rgba(0, 0, 0, 0.1)), url('/static/img/city and state/Himachal.jpg'); background-position: inherit;background-size: cover;background-color: black; height: 120px;width: 100%;color: white;font-weight: 500;font-size: 1.7rem;display: flex;justify-content: center;align-items: center;">Himachal Pradesh</a>
                
                <div class="row mx-0 px-0">
                    <div class="col-6 mt-1 pl-0 pr-0"> 
                        <a href="/city/Shimla" style="cursor: pointer;height: 65px;width: 100%;color: #292929;font-weight: 500;font-size: 1rem;display: flex;justify-content: center;align-items: center;background-color: #f1f1f1;border: 1px solid #c2c2c2;">Shimla</a>
                    </div>
                    <div class="col-6 mt-1 pr-0 pl-1"> 
                        <a href="/city/Manali" style="cursor: pointer;height: 65px;width: 100%;color: #292929;font-weight: 500;font-size: 1rem;display: flex;justify-content: center;align-items: center;background-color: #f1f1f1;border: 1px solid #c2c2c2;">Manali</a>
                    </div>
                </div>

                <div class="row mx-0 px-0">
                    <div class="col-6 mt-1 pl-0 pr-0"> 
                        <a href="/city/Dharamshala" style="cursor: pointer; height: 65px;width: 100%;color: #292929;font-weight: 500;font-size: 1rem;display: flex;justify-content: center;align-items: center;background-color: #f1f1f1;border: 1px solid #c2c2c2;">Dharamshala</a>
                    </div>
                    <div class="col-6 mt-1 pr-0 pl-1"> 
                        <a href="/city/Dalhousie" style="cursor: pointer;height: 65px;width: 100%;color: #292929;font-weight: 500;font-size: 1rem;display: flex;justify-content: center;align-items: center;background-color: #f1f1f1;border: 1px solid #c2c2c2;">Dalhousie</a>
                    </div>
                </div>



            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12" style="border:0px solid rgba(53, 53, 53, 0.644);    margin-top: 30px;">
                <a class="text-center" href="/state/Goa" style="cursor: pointer; background-image: linear-gradient(rgba(126, 55, 55, 0.1),rgba(0, 0, 0, 0.1)), url('/static/img/city and state/Goa.jpg'); background-position: center;background-size: cover;background-color: black; height: 120px;width: 100%;color: white;font-weight: 500;font-size: 1.7rem;display: flex;justify-content: center;align-items: center;">Goa</a>

 
                <div class="row mx-0 px-0">
                    <div class="col-6 mt-1 pl-0 pr-0"> 
                        <a href="/city/North-Goa" style="cursor: pointer;height: 65px;width: 100%;color: #292929;font-weight: 500;font-size: 1rem;display: flex;justify-content: center;align-items: center;background-color: #f1f1f1;border: 1px solid #c2c2c2;">North Goa</a>
                    </div>
                    <div class="col-6 mt-1 pr-0 pl-1"> 
                        <a href="/city/South-Goa" style="cursor: pointer;height: 65px;width: 100%;color: #292929;font-weight: 500;font-size: 1rem;display: flex;justify-content: center;align-items: center;background-color: #f1f1f1;border: 1px solid #c2c2c2;">South Goa</a>
                    </div>
                </div>

                <div class="row mx-0 px-0">
                    <div class="col-6 mt-1 pl-0 pr-0"> 
                        <a href="/city/Calangute" style="cursor: pointer;height: 65px;width: 100%;color: #292929;font-weight: 500;font-size: 1rem;display: flex;justify-content: center;align-items: center;background-color: #f1f1f1;border: 1px solid #c2c2c2;">Calangute</a>
                    </div>
                    <div class="col-6 mt-1 pr-0 pl-1"> 
                        <a href="/city/Candolim" style="cursor: pointer;height: 65px;width: 100%;color: #292929;font-weight: 500;font-size: 1rem;display: flex;justify-content: center;align-items: center;background-color: #f1f1f1;border: 1px solid #c2c2c2;">Candolim</a>
                    </div>
                </div>



            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-12" style="border:0px solid rgba(53, 53, 53, 0.644);margin-top: 30px;">
                <a class="text-center" href="/state/Jammu-Kashmir" style="cursor: pointer;background-image: linear-gradient(rgba(126, 55, 55, 0.1),rgba(0, 0, 0, 0.1)), url('/static/img/city and state/Jammu-Kashmir.jpg'); background-position: center;background-size: cover;background-color: black; height: 120px;width: 100%;color: white;font-weight: 500;font-size: 1.7rem;display: flex;justify-content: center;align-items: center;">Jammu & Kashmir</a>

 
                <div class="row mx-0 px-0">
                    <div class="col-6 mt-1 pl-0 pr-0"> 
                        <a href="/city/Gulmarg" style="cursor: pointer;height: 65px;width: 100%;color: #292929;font-weight: 500;font-size: 1rem;display: flex;justify-content: center;align-items: center;background-color: #f1f1f1;border: 1px solid #c2c2c2;">Gulmarg</a>
                    </div>
                    <div class="col-6 mt-1 pr-0 pl-1"> 
                        <a href="/city/Sonmarg" style="cursor: pointer;height: 65px;width: 100%;color: #292929;font-weight: 500;font-size: 1rem;display: flex;justify-content: center;align-items: center;background-color: #f1f1f1;border: 1px solid #c2c2c2;">Sonmarg</a>
                    </div>
                </div>

                <div class="row mx-0 px-0">
                    <div class="col-6 mt-1 pl-0 pr-0"> 
                        <a href="/city/Pahalgam" style="cursor: pointer;height: 65px;width: 100%;color: #292929;font-weight: 500;font-size: 1rem;display: flex;justify-content: center;align-items: center;background-color: #f1f1f1;border: 1px solid #c2c2c2;">Pahalgam</a>
                    </div>
                    <div class="col-6 mt-1 pr-0 pl-1"> 
                        <a href="/city/Srinagar" style="cursor: pointer;height: 65px;width: 100%;color: #292929;font-weight: 500;font-size: 1rem;display: flex;justify-content: center;align-items: center;background-color: #f1f1f1;border: 1px solid #c2c2c2;">Srinagar</a>
                    </div>
                </div>




            </div>
        </div>


        </div>
    </div>
    <button class="open-button" onclick="openForm()">
        <img src={% static 'img/calling.svg' %} style="filter: drop-shadow(0.15rem 0.15rem 0.3rem rgba(0, 0, 0, 0.5));width: 55px;"  /></button>
    
    <div class="chat-popup" id="myForm">
        <div class="form-container" id="fr2" style="text-align: center;">
            <img src={% static 'img/Universal Adventures Logo.png' %} width="70px" style="margin-bottom: 1rem;">
            <h3 style="margin-bottom: 1rem;">Thank You!</h3>
            <h3 style="margin-bottom: 1rem;">Our Expert Will Call You In A Moment</h3>
            <button class="btn btn-info" onclick="closeForm()">Close</button>
        </div>
        <form action="/" class="form-container mb-3 p-3" id='formg' name="google-sheet" style="max-width: 380px;border-radius: 10px 0px 10px 10px;">
           
         <!-- <i onclick="closeForm()" class="fa fa-times" style="float: right; cursor: pointer;"></i> -->
            
            <div class="mt-n3" onclick="closeForm()" style="position: absolute;cursor: pointer;background-color: #d82343;color: white;font-weight: 600;right: 0px;padding: 5px 15px;margin-top: -3.1rem;border-radius: 5px 5px 0px 0px;">Close</div>
            <h3>How can we help you?</h3>
            <p>Please send your query or Call Us</p>
            <div class="form-group row mb-0">
                <div class="col-md-12">
                  <input type="text" class="form-control" id="inputname" placeholder="Name" name="Name">
                </div>
              </div>
                
                <div class="form-group row mb-0">
                  <div class="col-md-12">
                    <input type="tel" class="form-control" id="inputPhone" placeholder="Phone" name="Phone">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <textarea class="form-control" id="inputEmail3" placeholder="Message (optional)" name="Email" style="height: 100px;"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <button type="submit" onclick="Sub()" class="btn btn-primary">Send Enquiry</button>&nbsp;or &nbsp; <button type="button" class="btn bg-white text-danger float-right" onclick="location.href='tel:8882654593'" style="border: 1px solid #ee4347;"><i class="fas fa-headset mr-2" aria-hidden="true"></i>Call Expert</button>
                   
                </div>     
                 </div>
              </form>
      </div>

    <!-- <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src={% static 'img/footer.png' %} width="200px" alt="">
                                </a>
                            </div>
                            <a href="#">+91 8882654593</a> <br>
                            <a href="mailto:contact@universaladventures.in">contact@universaladventures.in</a>
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/universaladventuresindia/">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.instagram.com/universaladventuresindia/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://g.co/kgs/FEs31r">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Company
                            </h3>
                             <ul class="links">
                                <ul class="links">
                                <li><a href="/about/">About</a></li>
                                <li><a href="/contact/"> Contact</a></li>
                                <li><a href="/privacy-policy/">Privacy-Policy</a></li>
                                <li><a href="/partial-payment/">Partial Payment</a></li>
                                <li><a href="/refund-policy">Payments & Refund Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Popular destination
                            </h3>
                           <ul class="links double_links">
                                <li><a href="/destination/Goa/">Goa</a></li>
                                <li><a href="/destination/Karnataka/">Karnataka</a></li>
                                <li><a href="/destination/Uttar-Pradesh/">Uttar Pradesh</a></li>
                                <li><a href="/destination/Uttarakhand/">Uttarakhand</a></li>
                                <li><a href="/destination/Rajasthan/">Rajasthan</a></li>
                                <li><a href="/destination/Maharashtra/">Maharashtra</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Instagram
                            </h3>
                            <div class="instagram_feed" id="ing">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->
    <!-- JS here -->
    <script src={% static 'js/vendor/modernizr-3.5.0.min.js' %}></script>
    <script src={% static 'js/vendor/jquery-1.12.4.min.js' %}></script>
    <script src={% static 'js/popper.min.js' %}></script>
    <script src={% static 'js/bootstrap.min.js' %}></script>
    <script src={% static 'js/owl.carousel.min.js' %}></script>
    <script src={% static 'js/isotope.pkgd.min.js' %}></script>
    <script src={% static 'js/ajax-form.js' %}></script>
    <script src={% static 'js/waypoints.min.js' %}></script>
    <script src={% static 'js/jquery.counterup.min.js' %}></script>
    <script src={% static 'js/imagesloaded.pkgd.min.js' %}></script>
    <script src={% static 'js/scrollIt.js' %}></script>
    <script src={% static 'js/jquery.scrollUp.min.js' %}></script>
    <script src={% static 'js/wow.min.js' %}""></script>
    <script src={% static 'js/nice-select.min.js' %}></script>
    <script src={% static 'js/jquery.slicknav.min.js' %}></script>
    <script src={% static 'js/jquery.magnific-popup.min.js' %}""></script>
    <script src={% static 'js/plugins.js' %}></script>
    <script src={% static 'js/gijgo.min.js' %}></script>
    <script src={% static 'js/slick.min.js' %}></script>
    <script src={% static 'js/tagsinput.js' %}></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!--contact js-->

    <script src={% static 'js/contact.js' %}></script>
    <script src={% static 'js/jquery.ajaxchimp.min.js' %}></script>
    <script src={% static 'js/jquery.form.js' %}></script>
    <script src={% static 'js/jquery.validate.min.js' %}></script>
    <script src={% static 'js/mail-script.js' %}></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src= "https://cdn.jsdelivr.net/npm/@dashboardcode/bsmultiselect@1.0.0/dist/js/BsMultiSelect.bs4.min.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
$(function(){

  $("#example").bsMultiSelect();

});

function inc(){
    console.log($('#example').val())
    var arr= $('#example').val()
            var complete =``;
            arr.forEach(element => {
                complete =complete + element
            }); 

    $('#inclusion').val(complete)
    console.log(complete)
}
    </script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }
        });
    </script>
    <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    function Sub() {
            document.getElementById("formg").style.display = "none";
            document.getElementById("fr2").style.display = "block";
        }
    </script>
        <script>
            $(function () {
                $(window).scroll(function () {
                    var mainbottom = $("header").offset().top + $("header").height();
                    if ($(this).scrollTop() < mainbottom) {
                        
                        $('nav').removeClass('first');
                
                    } else {
                        
                        $('nav').addClass('first');
                        
                    }
                })
            })
        </script>
        <script>
            setTimeout( function(){
                $('.loader_bg').fadeToggle();
            },2000);
        </script>
          <script>
            function filter_data(){
            var state= `{{state.name}}`
            var level = get_filter('level')
            var duration = get_filter('duration')
            var city= get_filter('city')
            var da= ``;
            var formData = {
            'level': level,
            'duration': duration,
            'state': state,
            'city':city,
            'minimum_price':$('#hidden_minimum_price').val(),
            'maximum_price':$('#hidden_maximum_price').val()
        };
        $.ajax({
            type : 'POST',
            url: `/filter-data/`,
            data: formData,
            encode: true,
            beforeSend:function(){
                $('#products').html('Loading...')
            },
            success: function(res){
                da= da+ res.data
                document.getElementById('products').innerHTML=da
            }
        })
              }
            function get_filter(class_name){
                var filter= []
                $('.'+class_name+':checked').each(function(){
                    filter.push($(this).val());
                });
                return filter;
            }
            $('.common_selector').click(function(){
                filter_data();
            })
            
        
        </script>
         <script>
              $( "#price_range" ).slider({
                range: true,
                min: 1000,
                max: 100000,
                values: [ 1000, 100000 ],
                step:500,
                stop:function(event,ui){
                    $('#price_show').html('&#8377;'+ui.values[0]+ '-' +'&#8377;'+ ui.values[1]);
                    $('#hidden_minimum_price').val(ui.values[0]);
                    $('#hidden_maximum_price').val(ui.values[1]);
                    filter_data();
                }
            } );
            </script>
            <script>
                        function myFunction() {
                            
                          var height = document.getElementById("maindetails");
                          var moreText = document.getElementById("more");
                          var btnText = document.getElementById("myBtn");
                        console.log(height.style.height)
                          if (height.style.height === "200px") {
                            height.style.height = "100%"
                            btnText.innerHTML = "Read less"; 
                            $('#h').removeClass('shadoww');
                          } else {
                            height.style.height = "200px"
                            btnText.innerHTML = "Read more";
                            $('#h').addClass('shadoww');
            
                          }
                        }
            </script>


</body>

</html>

{% endblock %}