{% if itineraryDatas %}
 <table class="table table-hover" >
                            <thead class="table-dark text-center">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Phone No.</th>
                                    <th scope="col">Package Display Name</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Trip Category</th>
                                    <th scope="col">Date Of Travel</th>
                                    <th scope="col">No of Days</th>
                                    <th scope="col">Total Trip Cost</th>
                                    <th scope="col">No. of People</th>
                                    <th scope="col">Agant Name</th>

                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                {% for itineraryData in itineraryDatas|dictsort:"state" %}
                                <tr>
                                    <th scope="col">{{forloop.counter}}</th>
                                    <th scope="col">{{itineraryData.name}}</th>
                                    <th scope="col">{{itineraryData.number}}</th>
                                    <th scope="col">{{itineraryData.package_display_name}}</th>
                                    <th scope="col">{{itineraryData.state}}</th>
                                    <th scope="col">{{itineraryData.trip_category}}</th>
                                    <th scope="col">{{itineraryData.date_of_travel}}</th>
                                    <th scope="col">{{itineraryData.no_of_days}}</th>
                                    <th scope="col">Rs.{{itineraryData.total_trip_cost}}</th>
                                    <th scope="col">{{itineraryData.number_of_people}}</th>
                                    <th scope="col">{{itineraryData.agant_name}}</th>
                                    <th scope="col" >
                                        <button class="btn btn-primary my-2"  onclick="window.location = '/itinerary-data/{{itineraryData.slug}}'">View</button> 
                                        <button class="btn btn-warning my-2"  onclick="window.location = '/itinerary-data-edit/{{itineraryData.id}}'">Edit</button> 
                                        {% comment %} <button class="btn btn-warning my-2">Edit</button> 
                                        <button class="btn btn-danger my-2">Delete</button>  {% endcomment %}
                                    </th>
                                  </tr>
                                {% endfor %}
        </tbody>
</table>
{% else %}
<h1 class="text-center">No data Found</h1>
{% endif %} 