              <!-- Start Desktop View -->
                <div id="products" class="content-desktop ml-3 ">
                  {% for product in products %}
                      <!-- The Modal -->
                      <div id="ModalMy" class="modal mx-4 mc" style="z-index: 1111; position: fixed; top:0%; left: 0%;width: 100%;height: 100%;display: none; width:fit-content;">
                        <!-- Modal content -->
                      <form action="/rentals-booking" method="post">
                      {% csrf_token %}    
                        <div class="row my-box-shadow" 
                                        style=" margin-top: 1.6rem; border:1px solid blue;  background-color: rgb(255, 255, 255); cursor: pointer;box-shadow: 1px 3px 8px 0px #72748452;transition: transform .3s;"
                                        name="{{product.adventuretype}}"> 
                                      <div class="col-lg-5 px-0 py-0" >
                                          <span id="productImage">
                                            <img src="/abcd/{{product.product_image}}" class="img-responsive"
                                              width="200px" height="250px" style="height: 84%;    object-fit: cover;    width: 100%;" />
                                          </span>
                                              <div class="custom_12" style="background-color:yellow;">
                                                <div class="row" > 
                                                  <div class="col-10 text-center" style="font-size: 0.6rem;">
                                                    <span class="btn " id="productPopularityScore"
                                                      style="font-size: 14px;top: 2px;padding: 1px 7px;background: yellow;color: black;border-radius: 4px;padding-top: 3px;">
                                                      Popularity: {{product.popularity_score}}/5</span>
                                                  </div>
                                                </div>
                                              </div>

                                              <div style="background-color:white" class="text-center mt-1">
                                                <span>Select Days:</span>
                                                <span> <input type="number" name="totalDays" class="totalDays" value="" required> </span>
                                                <span> <input type="date" name="date" class="date" required></span>
                                                <div class="endDate"></div>
                                                {% comment %} <span> <button id="calculatePrice">Calculate Price</button></span> {% endcomment %}
                                              </div>     
                                      </div>
                                        
                                      <div class="col-lg-7 pt-3" style="border:1px solid black">
                                          <div class="modal-header">
                                          <input type="hidden" name="productName" value="{{product.product_name}} ({{product.city}})">
                                              <h3 class="mt-0" id="productName">{{product.product_name}}  </h3>
                                              <button type="button" class="cc" data-bs-dismiss="modal" aria-label="Close"
                                                  style="color: #000;border: none;outline: none;background-color: none;" >&times; </button>
                                          </div>
                                            <div class="row" id="duration__block">
                                              <div class="col" >
                                                <span style="padding-right: 5px;
                                                    position: relative;
                                                    vertical-align: middle;
                                                    font-size: 16px;
                                                    color: rgba(59,68,78,0.7);">
                                                  <span class="badge badge-pill badge-light" id="productVehicleGearType" style="border: 1px solid blue">{{product.vehicle_gear_type}}</span>
                                                  <span class="badge badge-pill badge-light" id="productBrand" style="border: 1px solid blue">{{product.brand_name}}</span>
                                                  <span class="badge badge-pill badge-light" id="productCategory" style="border: 1px solid blue">{{product.category}}</span>                            
                                                </span>
                                              </div>
                                            </div>
                                            
                                            <div class="ml-3">
                                              <ul>
                                                <li style="list-style-type: disc;" id="productSpecification1">{{product.specification_1}}</li>
                                                <li style="list-style-type: disc;" id="productSpecification2">{{product.specification_2}}</li>
                                                <li style="list-style-type: disc;" id="productSpecification3">{{product.specification_3}}</li>
                                              </ul>
                                            </div>
                                            <hr>
                                            
                                            <div class="my-2" style=""><h3>Delivery: <span id="productDelivery">{{product.delivery_option}}</span> </h3></div>
                                            <hr>
                                            
                                            <div style="">
                                              <div style="display: flex; ">
                                                <label for=""  style="word-wrap:break-word" class="mx-4">
                                                  <input class="perDayPrice" name="perDayPrice" data-item="{{product.product_name}}" type="hidden" value="{{product.price_1_3}}" /> <strong style="color:black"> 1-3 Days: <span id="productPrice1-3" style="color:red">{{product.price_1_3}}</span> </strong>
                                                </label>
                                                <label for=""  style="word-wrap:break-word">
                                                  <input class="perDayPrice" name="perDayPrice" data-item="{{product.product_name}}" type="hidden" value="{{product.price_4_7}}" /> <strong style="color:black"> 4-7 Days: <span id="productPrice4-7" style="color:red">{{product.price_4_7}}</span> </strong>
                                                </label>
                                              </div>
                                              <div style="display: flex;">
                                                <label for=""  style="word-wrap:break-word" class="mx-4">
                                                  <input class="perDayPrice" name="perDayPrice" data-item="{{product.product_name}}" type="hidden" value="{{product.price_8_15}}" /> <strong style="color:black"> 8-15 Days: <span id="productPrice8-15" style="color:red">{{product.price_8_15}}</span> </strong>
                                                </label>
                                                <label for=""  style="word-wrap:break-word">
                                                  <input class="perDayPrice" name="perDayPrice" data-item="{{product.product_name}}" type="hidden" value="{{product.price_16_30}}" /> <strong style="color:black"> 16-30 Days: <span id="productPrice16-30" style="color:red">{{product.price_16_30}}</span> </strong>
                                                </label>
                                              </div>
                                              <div style=" display:flex; justify-content:space-between; ">
                                                <input type="hidden" class="priced" name="totalPrice" value=""> 
                                                <div><h1>Total:  <span class="totalPrice" name="totalPrice"> </span></h1>  </div>

                                                <div>
                                                    <div style="border:1px solid yellow; background-color:yellow" class="pt-2 text-center">
                                                      <div class="accordion accordion-flush" id="accordionFlushExample">
                                                        <div class="accordion-item">
                                                          <h2 class="accordion-header" id="flush-headingOne">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                              Terms & Conditions
                                                            </button>
                                                            <label for=""> <input type="checkbox" required> I accept </label>
                                                          </h2>
                                                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">{{product.terms_and_conditions|safe}}</div>
                                                          </div>
                                                        </div>
                                                      </div>

                                                    </div>
                                                    <div  class="pt-2 text-center">
                                                        <button class="btn btn-primary btn-lg btn-block" type="submit" style="cursor: pointer;border-radius: 12px;color:white;background-image: linear-gradient(93deg, #53b2fe, #065af3);
                                                          box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2) !important">Book Now</button>
                                                    </div>
                                                </div> 
                                              </div>
                                            </div>
                                      </div>
                        </div>
                      </form>
                      </div>

                  <div class="row my-box-shadow product__data pc" data-item="{{product.product_name}}" id="product_name" 
                    style="margin-top: 1.6rem;border:1px solid blue; background-color: rgb(255, 255, 255);cursor: pointer;box-shadow: 1px 3px 8px 0px #72748452;transition: transform .3s;"
                    name="">
                    <div class="col-lg-3 px-0 py-0">
                      <img src="/abcd/{{product.product_image}}" class="img-responsive" 
                          width="200px" height="250px" style="height: 100%;    object-fit: cover;    width: 100%;" />                          
                    </div>
                    
                    <div class="col-lg-6 pt-3">
                        <h3 class="mt-0" name="product_name" >{{product.product_name}}</h3>
                        <div class="row" id="duration__block">
                          <div class="col">
                            {% if product.vehicle_gear_type != "NA" %}
                            <span style="padding-right: 5px;
                                                border-right: 1px solid rgba(59,68,78,0.3);    position: relative;
                            vertical-align: middle;
                            font-size: 16px;
                            color: rgba(59,68,78,0.7);">{{product.vehicle_gear_type}}</span>
                            {% endif %}
                            <span class="icon" style="padding: 0px 3px 0px 6px;    position: relative;
                            vertical-align: middle;
                            font-size: 16px;
                            color: rgba(59,68,78,0.7);"><i class="fas fa-map-marker-alt"></i></span>
                            <span style="padding-right: 5px;
                                position: relative;
                                vertical-align: middle;
                                font-size: 16px;
                                color: rgba(59,68,78,0.7);">
                              {{product.city}}</span>
                          </div>
                        </div>
                        {% autoescape off %}
                        <div class="ml-3">
                          <ul>
                            <li style="list-style-type: disc;">{{product.specification_1}}</li>
                            <li style="list-style-type: disc;">{{product.specification_2}}</li>
                            <li style="list-style-type: disc;">{{product.specification_3}}</li>
                          </ul>
                        </div>
                      </a>
                    </div>
                    {% endautoescape %}
                    <div class=" col-lg-3 pt-3 pb-3"
                    style="border-left: 1px solid blue;display: flex;justify-content: center;align-items: center;">
                        <div>
                          <div class="custom_12">
                            <div class="row" >  {% comment %}   style="justify-content: center;" {% endcomment %}
                              <div class="col-10 text-center" style="font-size: 0.6rem;">
                                <span class="btn "
                                  style="font-size: 14px;top: 2px;padding: 1px 7px;background: yellow;color: black;border-radius: 4px;padding-top: 3px;">
                                  Popularity: {{product.popularity_score}}/5</span>
                              </div>
                            </div>
                          </div>
                          <hr class="mt-2">
                          
                          <div class="mt-2">  {% comment %} Left Most Column of Card (Rent For) {% endcomment %}
                            <center> <h6>Rent For</h3> </center>
                            <p class="mt-2 btn btn-success view__details_btn" style="border-radius:24px; border:1px solid blue; width: 100%; bottom: 10px; left: 0px; background-color:white; color:black;">1-3 Days</p>
                            <p class="mt-2 btn btn-success view__details_btn" style="border-radius:24px; border:1px solid blue; width: 100%; bottom: 10px; left: 0px; background-color:white; color:black;">4-7 Days</p>
                            <p class="mt-2 btn btn-success view__details_btn" style="border-radius:24px; border:1px solid blue; width: 100%; bottom: 10px; left: 0px; background-color:white; color:black;">8-15 Days</p>
                            <p class="mt-2 btn btn-success view__details_btn" style="border-radius:24px; border:1px solid blue; width: 100%; bottom: 10px; left: 0px; background-color:white; color:black;">16-30 Days</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  {% endfor %} 
                </div>
