            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item my-3">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button w-100" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" 
                    aria-controls="panelsStayOpen-collapseOne"
                    style="font-size: 25px;text-transform: capitalize;font-weight: 600;">
                      Trip data - {{state}}
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                    {% if trip_data %}
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Trip Name</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">locations</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for trip_data in trip_data|dictsort:"state" %}
                                <tr>
                                    <th scope="col">{{forloop.counter}}</th>
                                    <th scope="col">{{trip_data.trip_name}}</th>
                                    <th scope="col">{{trip_data.state}}</th>
                                    <th scope="col">{{trip_data.trip_category}}</th>
                                    <th scope="col">{{trip_data.locations}}</th>

                                  </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                          {% else %}
                                <h1 class="text-center">No data Found</h1>
                          {% endif %}
                    </div>
                  </div>
                </div>
            </div>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item my-3">
                    <h2 class="accordion-header" id="headingT">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" 
                      aria-expanded="false" aria-controls="collapseTwo"
                      style="font-size: 25px;text-transform: capitalize;font-weight: 600;">
                      Day Schedule - {{state}}
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                     {% if day_schedule %}
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Content</th>
                                  </tr>
                            </thead>
                            <tbody>
                                {% for day_schedule in day_schedule|dictsort:"state" %}
                                <tr>
                                    <th scope="col">{{forloop.counter}}</th>
                                    <th scope="col">{{day_schedule.day_schedule_heading}}</th>
                                    <th scope="col">{{day_schedule.day_schedule_itinerary|safe}}</th>
                                </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                        {% else %}
                                <h1 class="text-center">No data Found</h1>
                        {% endif %}
                      </div>
                    </div>
                  </div>
            </div>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item my-3">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" 
                      aria-expanded="false" aria-controls="collapseThree"
                      style="font-size: 25px;text-transform: capitalize;font-weight: 600;">
                      Activity - {{state}}
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        {% if activity %}
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Activity Name</th>
                                    <th scope="col">Price</th>
                                  </tr>
                            </thead>
                            <tbody>
                                {% for activity in activity|dictsort:"state" %}
                                <tr>
                                    <th scope="col">{{forloop.counter}}</th>
                                    <th scope="col">{{activity.state}}</th>
                                    <th scope="col">{{activity.activity_name}}</th>
                                    <th scope="col">Rs.{{activity.activity_price}}</th>
                                </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                          {% else %}
                                <h1 class="text-center">No data Found</h1>
                         {% endif %}
                      </div>
                    </div>
                  </div>
            </div>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item my-3">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" 
                      aria-expanded="false" aria-controls="collapseFour"
                      style="font-size: 25px;text-transform: capitalize;font-weight: 600;">
                      Other transport - {{state}}
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                    {% if transport %}
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Other Transport</th>
                                    <th scope="col">Price</th>
                                  </tr>
                            </thead>
                            <tbody>
                                {% for transport in transport|dictsort:"state" %}
                                <tr>
                                    <th scope="col">{{forloop.counter}}</th>
                                    <th scope="col">{{transport.state}}</th>
                                    <th scope="col">{{transport.other_transport_name}}</th>
                                    <th scope="col">Rs.{{transport.other_transport_price}}</th>
                                </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                          {% else %}
                                <h1 class="text-center">No data Found</h1>
                        {% endif %}
                      </div>
                    </div>
                  </div>
            </div>